#SST-message > div {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#SST-message h3 {
  margin: 0;
}
#SST-settings {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
#SST-settings > div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
#SST-settings > div > .fa {
  flex: 0 0;
  margin: 0 10px;
}
#SST-settings > div > input {
  flex-grow: 1;
  margin: 0;
}
#SST-settings table tbody {
  display: flex;
  flex-direction: column;
}
#SST-settings table tr {
  display: flex;
}
#SST-settings table td,
#SST-settings table th {
  flex: 1 1;
  position: relative;
}
#SST-settings table td > span:first-child {
  word-wrap: break-word;
  white-space: pre-wrap;
}
.SST-copyButton,
.SST-copyButton span {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  top: 50%;
  height: 100%;
  transform: translate(0, -50%);
}
.SST-copyButton span {
  opacity: 0;
  cursor: pointer;
  transition: opacity .2s, color .2s;
}
*:hover > .SST-copyButton span {
  opacity: 1;
}
.SST-copyButton span:hover {
  opacity: .7;
}
.SST-copyButton span.done {
  color: #27ae60;
}
.table tbody tr.favRow td {
  font-weight: bold;
}

.table tbody tr.favRow.startMatch {
  order: -2;
}

.table tbody tr.favRow {
  order: -1;
}

.table tbody tr.startMatch {
  order: 0;
}

.table tbody tr.noMatch {
  order: 1;
}