<div id="SST-message" data-bind="ifnot: displaySettings">
	<div>
		<h3 data-bind="visible: updating">
			<i class="icon-spinner icon-spin"></i>
			{{ _("Retrieving Slicer Settings") }}
		</h3>

		<h3 data-bind="visible: !fileSelected()">{{ _("No File Selected") }}</h3>

		<!-- ko if: !settings().length && !updating() && fileSelected() -->
			<h3 >{{ _("No Slicer Settings") }}</h3>
			<small>{{ _("(for this file)") }}</small>
		<!-- /ko -->
	</div>
</div>
<div id="SST-settings" data-bind="if: displaySettings">
	<div id="SST-fav-alert" class="alert alert-info" data-bind="visible: displayFavAlert, click: dismissAlert">
		<button type="button" class="close" data-bind="click: dismissAlert">&times;</button>
		<a href="#"><strong>Tip:</strong> You can add settings to your favorites by clicking on the text of the setting, which will pin the row to the top.</a>
	</div>
	<div>
		<i class="fa fa-search"></i>
		<input type="search" data-bind="textInput: filterString"/>
	</div>
	<table class="table table-hover">
		<thead><tr>
			<th>{{ _("Setting") }}</th>
			<th>{{ _("Value") }}</th>
		</tr></thead>
		<tbody data-bind="foreach: settings">
			<!-- ko with: filterHelpers($root.filterString) -->
				<tr data-bind="
					visible: match,
					css: { warning: isFavorite},
					class: orderInt()
				">
					<td>
						<span data-bind="html: highlight(escape(key)), click: $root.clickFavorite"></span>
						<span class="SST-copyButton" data-bind="template: copyButton(key)"></span>
					</td>
					<td>
						<span data-bind="html: highlight(escape(value))"></span>
						<span class="SST-copyButton" data-bind="template: copyButton(value)"></span>
					</td>
				</tr>
			<!-- /ko -->
		</tbody>
	</table>
</div>

<script id="SST-copyButton-template" type="text/html">
	<span data-bind="click: onClick, css: { done }">
		<i class="fa fa-copy"></i>
	</span>
</script>
